extends ../layout.pug

block header
  h3 Ваша регистрация
block content
  p Здравствуйте, #{ name }.
  p Вы являетесь зарегистрированым экспертом на <b>#{ APP_NAME }</b>.
  p Скачайте приложение эксперта по <a href="https://expert.vep.ru/download/expertocrede.exe.zip">ссылке для скачивания</a>.
  p Запустив его, зарегистрируйте приложение своим секретным кодом:
  p <tt>#{code}</tt>
  p Не передавайте это письмо и секретный код посторонним.
block action
