extends ../layout.pug

block header
  h3 Ваша ссылка для входа на сайт
block content
  p Здравствуйте, #{ name }.
  p Вы являетесь зарегистрированым пользователем сайта на <b>#{ APP_NAME }</b>.
  p Мы приготовили для вас одноразовую ссылку для входа на сайт.
  p Если Вы не запрашивали этого, просто проигнорируйте это письмо.
block action
  a.btn-primary(href=action.url) #{action.name}